/*Le Damos formato al Header.*/

header {
    /*Le damos color al fondo.*/
    background-color: #333030;
}

body {
    background-color: bisque;
}

/*Le damos formato al Header*/

.logoJapon img {
    margin-top: 20px;
    /*Desplazamos el logo hacia abajo.*/
}

/*Le damos formato al título*/

.titulo h1 {
    font-size: 70px;
    font-weight: bolder;
    color: red;
}

/*Le damos formato al menú.*/

.menu a,
li {
    text-decoration: none;
    list-style: none;
    align-items: left;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
   
}

.redesCesta {
    display: inline-flex;
}

#cestaContador {
    color: red;
}

/*Ahora le damos formato al header para verlo en pantalla.*/

@media screen and (min-width: 1025px) {

    .contenedor { /*Centramos el contenido del contenedor*/
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .logoJapon, .titulo, .redesCesta {
        display: inline-flex; /*Le damos un formato en línea al logo, el título y los iconos de redes*/
        margin-right: 150px;
        margin-left: 150px;
    }

    /*Damos formato al menú*/

    .menu li {
        display: inline-flex;
        margin-right: 100px;
        margin-left: 70px;
        font-size: 20px;
    }


    
}

