/*Damos formato a la cabecera. Estará formada por un logo, un título, Un menú y enlaces a la cesta
de la Compra y redes sociales.*/

.contenedor {
    width: 100%;
    background-color: #333030;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.titulo,
.menu,
.redesCesta,
.logoJapon {
    display: inline-flex;
}

.logoJapon {
    margin-left: 10px;
}

.titulo h1 {
    display: inline-flex;
    color: red;
    font-size: 40px;
    font-weight: bold;
    font-family: 'FuenteEscrituraMano', cursive;
    margin-left: 30px;

}

.menu li {
    display: inline-flex;
    color: orangered;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    text-decoration: none;

}

.menu a {
    color: red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    text-decoration: none;
}

.redesCesta {
    display: inline-flex;
    margin-left: 10px;
}

/*Damos formato al menú de la cesta de la compra.*/

.carrito {
    display: none;
}

#cestaContador  {
    color: red;
}


/*Damos formato a la parte del Menú.*/


.carta a {
    color: rgba(9, 29, 247, 0.989);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.carta h2 {
    color: rgba(9, 29, 247, 0.989);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/*Colocamos los dos div en la misma línea.*/

/*Incluimos un fondo a las listas y le asignamos el lado izquierdo de la pantalla.*/
.carta {
    background-color: antiquewhite;
}

.listas {
    margin-right: 200px;
    padding-top: 100px;
    padding-block-end: 300px;
    padding-right: 100px;
    position: fixed;
    left: 0;
}

.listas,
.secciones {
    display: inline-block;
}

/*Establecemos una distancia entre los dos div.*/

.secciones {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 400px;

}

/*Damos formato a los diferentes Productos.*/


.producto {
    max-width: auto;
    display: inline-block;
    margin-right: 100px;
}

.producto p {
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: rgba(9, 29, 247, 0.989);
    font-weight: bold;
    text-align: center;

}

.producto img {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

/*El precio lo marcamos como negrita para que se vea mejor.*/

#precio {
    font-weight: bold;
    color: rgba(9, 29, 247, 0.989);
}

#precio p {
    font-weight: bold;
    font-size: 20px;
}

/*Damos formato a los botones para determinar la cantidad de productos.*/

.cantidadProducto,
#precio {
    display: block;
}

.mas,
.menos {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
}

/*Damos Formato al Footer*/

.contenedor4 {
    width: 100%;
    background-color: #333030;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pie a {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 90px;
    font-size: 20px;
    color: red;
    text-decoration: none;
}

.pie p {
    font-size: 20px;
    color: red;
    display: inline-flex;
    text-decoration: none;

}

h3 {
    color: rgba(9, 29, 247, 0.989);
}