/*Le damos al body un width de 90vw y un overflow-x hidden para evitar el scroll lateral.*/

body {
    width: 90vw;
    overflow-x: hidden;
}

/*Damos el formato al header de la cesta.*/

.contenedor {
    width: 90vw;
    overflow-x: hidden;
    background-color: #333030;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.logoJapon,
.titulo,
.redesCesta {
    display: block;

}

.titulo h1 {
    color: red;
    font-weight: bolder;
    font-size: 50px;
}

.menu a {
    text-decoration: none;
    /*Eliminamos el formato del enlace.*/
    color: red;
}

.menu li {
    list-style: none;
    /*Eliminamos el formato de la lista.*/
    margin-left: 20px;
    margin-right: 60px;
}

/*Damos formato al menú de la cesta de la compra.*/

.carrito {
    display: none;
}

#cestaContador {
    color: red;
}

/**Distribuimos los elementos de la cesta de compra */

.datosTarjeta,
#nombre,
#apellidos,
#direccion {
    display: block;
    margin-top: 10px;


}


button {
    margin-top: 10px;
}

/*Ahora le damos formato al pie*/

.pie {
    width: 90vw;
    background-color: #333030;
    overflow-x: hidden;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.pie a {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: red;
}

/*Ahora le damos una formato para formato de ordenador portatil y de sobremesa.*/

@media screen and (min-width: 1023px) {

    /*Centramos todos los elementos del body*/

    body {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /*Establecemos los márgenes del Header*/

    .contenedor {
        margin-left: 20px;
        margin-right: 20px;
    }

    .logoJapon,
    .titulo,
    .redesCesta,
    #cestaCompra {
        display: inline-block;
        margin-left: 100px;

    }

    .menu li {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }

    /*Le damos formato al formulario.*/

    .formulario {
        margin-left: 20px;
        margin-right: 20px;
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    /*Le damos formato al footer*/

    .pie {
        margin-left: 10px;
        margin-right: 10px;
    }








}